
*{
      
    font-family: system-ui,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box !important;
    margin: 0 ;
    padding: 0 ;
   
}
a{
    text-decoration: none; 
}
nav{
    overflow: hidden;
    background-color:  #212529f8;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    padding:  15px  ;
    
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 30%;
    padding-left: 8%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.logo a{
    display: block;
    font-size: 28px;
    color: white;
    text-decoration: none;
    
}

.nav-contant{
    width: 70%;
    padding:0 30px ;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
    

}
.nav-contant div{
        margin: 0 10px ;
        position: relative;
        overflow: hidden;
       
}
.nav-contant a{
    display: block;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

i{
    color: white;
    font-size: 13px;
    font-weight: lighter;
}
.brdr{
   
    position: absolute;
    visibility: hidden;
    bottom: 0;
    right: 100%;
    width:70%;
    height: 2px;
   
    background-color: white;
    transition: right  1s ;

}
.home .brdr{
    visibility: visible;
    right: 20%;
}
.nav-contant div:hover .brdr{

    visibility: visible;
    right: 20%;
}
.nav-contant div::selection .brdr{

    visibility: visible;
    bottom: 0;
    right: 20%;
}

/*******************************************************************************/
header{
    background-image: url(../images/hero-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.layer{
    background-color: #2125294d;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.layer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.home h1{
    
    padding-bottom: 10px;
    font-size: 72px;
    font-weight:normal;
}
.layer-content p{
    font-size: 40px;
}
/*************************************************************************************/
.bg-0062d3{
    background-color: #0062d3;
}
.bg-f5f5f5{
    background-color: #f5f5f5;
}
.bg-bee4ecf6{
    background-color:  #bee4ecf6;
}
.text-0062d3{
    color: #0062d3;
}
.border-0062d3{
    border-color: #0062d3 !important;
}
.border-gray{
    border-color:rgb(214, 214, 214) ;

}
.border-bee4ecf6{
    border-color: #bee4ecf6 !important;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
/*********************************************************************************/
.bg-img-fixed{
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.bg-img-services{
    background-image: url(../images/post-3.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
h5{
    font-size: 32px;
    color: #1e1e1e;
}
.h-div{
    height:3px;
    margin-bottom: 20px;
}
.h-10{
    height: 10%;
}
.icons-social span,
.Send-Message-Us button{
    transition: all 1s;
}
.icons-social span:hover{
    border-color: #bee4ecf6 !important;
    background-color: #0062d3;
    
}
.icons-social span:hover i{
   
    color: white !important;
}
.Get-in-Touch p{
    font-size: 20px;
    font-weight: lighter;
    /* line-height:32px ; */
}

.layer-over{
    z-index: 999;
    background-color:#0077ffa8;
}
.Send-Message-Us button:hover{
    border-color: #bee4ecf6 !important;
    background-color:#0062d3d0 !important; ;
}
.focus-border-outline:focus{
    border-color: #0062d3 !important;
    outline: solid 3px   #bee4ecf6 !important;
   

}
/*************************************************************/
.item p{
    color: #4e4e4e;
}
.Morgan-Freeman  {
    color: #4e4e4e !important;

}
.Morgan-Freeman:hover  {
    color: #0052af !important;

}
.img{
    transition: all 1s;
}
.img:hover{
    width: 100%;
    transform: scale(1.2);
    
}
.icon-boot{
    width:70px;
    height: 70px;
    border-width:10px !important;
}
.icon-services{
    width: 110px;
    height: 110px;
    border:10px solid #0062d3d0 !important;
   
}
/* .icon-services:hover{
   
    border-color: #bee4ecf6 !important;
    background-color:#0062d3d0 !important; 
} */
/* .icon-services:hover  i{
    color: white !important;
   
} */
.item{
    border-radius: 20px;
}
.item:hover i{
    color: white !important;
    transition: all 1s;
}
.item:hover .icon-services{
    border-color: #bee4ecf6 !important;
    background-color:#0062d3d0 !important; 
   
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-15{
    width: 15%;
}
.paragraph{
    font-size: 19px;
}